<meta charset="utf-8">
<script src="html/customerservice/customerservice.js"></script>
<link rel="stylesheet" type="text/css" href="html/customerservice/customerservice.css">
<div ng-controller="customerserviceLeft" data-ng-init="init()">
	<div ng-repeat='menu in menus'>
		<div class="left-title" ng-bind="menu.title"></div>
		<ul class="left-nav">
			<a ng-repeat='item in menu.subMenu' href="{{item.url}}" ng-click="changeNav($event, item.url)">
				<li class="setting-{{item.id}}" ng-class="{active:item.active}">
					<div class="nav-icon"></div>
					<p ng-bind="item.name"></p>
				</li>
			</a>
		</ul>
	</div>
	<div class="left-close-btn" ng-class="{active:closeActive}" ng-click="toggleNav()">
		<i class="arrow-icon"></i>
	</div>
</div>