@charset "UTF-8";
.ms-select{position:relative;width:48.5%;height:50px;margin-bottom:20px;padding-left:13px;border:1px solid #e1e3e5;background:#fff;float:left;}
.ms-select.active{border-color:#ff3251;}
.ms-select .ms-required{position:absolute;top:7px;left:5px;font-size:12px;color:#e50017;}
.ms-select .ms-title{line-height:26px;font-size:12px;color:#91989e;}
.ms-select .ms-area{overflow:hidden;}
.ms-select span{display:block;width:100%;height:18px;border:none;outline:0;font-size:14px;color:#36383c;font-family:Arial;cursor:pointer;}
.ms-select .ms-hint{position:relative;top:7px;line-height:20px;font-size:14px;color:#ff3251;}
.ms-select .ms-arrow{display:block;width:12px;height:7px;position:absolute;background:url(../../image/directive/common.png) 0 -36px;right:9px;top:21px;cursor:pointer;}
.ms-select .open .ms-arrow{background-position:0 -44px;}
.ms-hint i{display:inline-block;width:15PX;height:15px;margin-right:5px;line-height:20px;vertical-align:middle;background:url(../../image/directive/Icon.png) -26px -77px no-repeat;cursor:pointer;}
.ms-select ul{display:none;position:absolute;top:100%;z-index:1000;float:left;font-size:14px;text-align:left;list-style:none;background-color:#fff;width:100%;margin:0;padding:0;left:-1px;border:1px solid #e1e3e5;max-height:200px;overflow-y:auto;min-width:100px;box-shadow:0 6px 12px rgba(0,0,0,.175);border-radius:4px;background-clip:padding-box;}
.ms-select li{display:block;clear:both;font-weight:normal;line-height:40px;height:40px;padding:3px 13px;color:#333;white-space:nowrap;word-wrap:normal;cursor:pointer;}
.ms-select .open ul{display:block;}
